.projects ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 50px;
}

.projects ul li.projects__reversed-list {
  flex-direction: row;
  display: flex;
}

.projects ul li.projects__reversed-list img {
  border-radius: 100px;
  padding: 50px;
}

.projects ul li.projects__reversed-list #img1 {
  margin-right: 4rem;
}

.projects ul li.projects__reversed-list #img2 {
  margin-left: 4rem;
}

.projects ul li:not(:last-of-type) {
  margin-bottom: 12rem;
}
.projects.max-width{
  display: flex;
  flex-direction: column;
  margin: 100px;
  
}
.projects.max-width.projects__content h2 p{
  margin: 150px;
}

.projects.max-width{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projects ul li .image {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects ul li .image img {
  width: 100%;
  min-width: 40rem;
  max-width: 60rem;
  height: auto;
}

.projects__info{
display: flex;
flex-direction: column;
align-items:first baseline;
}

.projects ul li .projects__info {
  max-width: 70rem;
}

.projects ul li .projects__info p {
  margin: 1rem 0 4rem 4rem; /* Ajusta as margens para colocar o texto à direita da lista */
}

.projects ul li .projects__info a {
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .projects ul li,
  .projects ul li.projects__reversed-list {
    flex-direction: column;
  }

  .projects ul li .projects__info {
    max-width: 66rem;
  }

  .projects ul li .image img {
    min-width: auto;
  }
}
